<html>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <body>
        <div class="main-content">
        {{>header}}
        <p>This is a About Page</p>
        </div
        {{>footer}}>
    </body>
</html>